<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (user) { %>
        <p>Welcome, <%= user.username %>!</p>
        <a href = "/room/create">部屋を作成する</a>
      <% } else { %>
        <h1>チャットアプリにようこそ</h1>
        <a href = "/session/login">ログインする</a>
        <a href = "/session/create-account">アカウントを作成する</a>
      <% } %>
</body>
</html>