<!DOCTYPE html>
<html>
<head>
  <title>Users</title>
</head>
<body>
  <h1>Users</h1>
    <ul id="userList">
        <% users.forEach(function(user) { %>
          <li class="user-item" data-id="<%= user.id %>">
            ID: <%= user.id %>, Username: <%= user.username %>
          </li>
        <% }); %>
      </ul>
</body>
</html>
<script>
    document.addEventListener('DOMContentLoaded', function() {
      const userList = document.getElementById('userList');
      
      userList.addEventListener('click', function(event) {
        if (event.target.classList.contains('user-item')) {
          const userId = event.target.getAttribute('data-id');
          window.location.href = `/user/${userId}`;
        }
      });
    });
  </script>